h1{
    font-size: 50px;
    text-align: center;  
}
body{
    background-color: rgb(38, 42, 3);
    color: rgb(255, 255, 255);
}
p{
    text-align: center;
    font-size:20px;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 35px;
}
.links:hover{
    color:rgba(255, 255, 255, 0.397);
}
div{
    display: block;
    text-align: center;
}
a{
    color: rgb(255, 255, 255);
    background-color: rgb(71,160, 37);
    border-radius: 5px;
}
p3{
    text-align:left;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.navigation{
    position: fixed;
    margin: 30px;
}
.title{
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: underline;
}
p2{
    font-size: 25px;

}