h1{
    font-size: 50px;
    text-align: center;  
}
body{
    background-color: rgb(38, 42, 3);
    text-align: center;
    width: 100%;
    display:block;
}
p{
    text-align:center;
    font-size:20px;
    color:rgb(255, 255, 255);
}
h2{
    font-size: 35px;
}
h3{
    font-size: 35px;

}
.links:hover{
    color:rgba(255, 255, 255, 0.397);
}
div{
    display: block;
    text-align: center;
    width: 100%;
}
a{
    color: rgb(255, 255, 255);
    background-color: rgb(71,160, 37);
    border-radius: 5px;
    margin: o auto;
}
p3{
    text-align:left;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.navigation{
    position: fixed;
    margin: 30px;
    text-align: left;
}
.title{
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: underline;
}
p2{
    font-size: 25px;
    color:rgb(255, 255, 255);

}
.pic{
    background-image: url(Trout.jpg);
    background-repeat: no-repeat;
    background-position: center top;

}
.pic1{
    background-image: url(gore-public-gardens-photo.jpg);
    background-repeat: no-repeat;
    background-position:center top;
    background-size: 1000px 500px;
    

}
h5{
    margin-top:100px;
    margin-bottom:100px;
    color:rgba(30, 28, 28, 0.235);
}
p6{
    font-size: 25px;
    color:aquamarine;
    display: block;
    text-align: left;
}
h7{
    margin-top:100px;
    margin-bottom:100px;
    color: rgb(38, 42, 3);
}